<div class="modal fade" id="popupViewContestChoose" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-md" style="height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%;margin-top: 100px; overflow-x: auto">
            <div class="card card-contest">
                <div class="card-body card-body-contest">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 card-contest-margin">
                        <div class="card card-contest-choose">
                            <img src="../images/contest/header-option-contest.png" class="card-detail-contest-choose" alt="...">

                            <div class="card-block">
                                <h4 class="card-title card-title-contest-choose">Lựa chọn 1</h4>
                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-card-checklist form-title"></i>
                                    Doanh số tối thiểu: <strong> 15.000.000 VND</strong>
                                </p>

                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-cash-coin form-title"></i>
                                    Mức hỗ trợ: <strong> 1.000.000 VND</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 card-contest-margin">
                        <div class="card card-contest-choose">
                            <img src="../images/contest/header-option-contest.png" class="card-detail-contest-choose" alt="...">
                            <div class="card-block ">
                                <h4 class="card-title card-title-contest-choose">Lựa chọn 2</h4>
                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-card-checklist form-title"></i>
                                    Doanh số tối thiểu: <strong> 30.000.000 VND</strong>
                                </p>

                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-cash-coin form-title"></i>
                                    Mức hỗ trợ: <strong> 3.000.000 VND</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 card-contest-margin">
                        <div class="card card-contest-choose">
                            <img src="../images/contest/header-option-contest.png" class="card-detail-contest-choose" alt="...">
                            <div class="card card-contest">
                                <div class="card-block ">
                                    <h4 class="card-title card-title-contest-choose">Lựa chọn 3</h4>
                                    <p class="card-subtitle-contest text-muted">
                                        <i class="bi bi-card-checklist form-title"></i>
                                        Doanh số tối thiểu: <strong> 50.000.000 VND</strong>
                                    </p>

                                    <p class="card-subtitle-contest text-muted">
                                        <i class="bi bi-cash-coin form-title"></i>
                                        Mức hỗ trợ: <strong> 6.000.000 VND</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 card-contest-margin">
                        <div class="card card-contest-choose">
                            <img src="../images/contest/header-option-contest.png" class="card-detail-contest-choose" alt="...">
                            <div class="card-block ">
                                <h4 class="card-title card-title-contest-choose">Lựa chọn 4</h4>
                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-card-checklist form-title"></i>
                                    Doanh số tối thiểu: <strong> 80.000.000 VND</strong>
                                </p>

                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-cash-coin form-title"></i>
                                    Mức hỗ trợ: <strong> 10.000.000 VND</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 card-contest-margin">
                        <div class="card card-contest-choose">
                            <img src="../images/contest/header-option-contest.png" class="card-detail-contest-choose" alt="...">
                            <div class="card-block ">
                                <h4 class="card-title card-title-contest-choose">Lựa chọn 5</h4>
                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-card-checklist form-title"></i>
                                    Doanh số tối thiểu: <strong> 100.000.000 VND</strong>
                                </p>

                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-cash-coin form-title"></i>
                                    Mức hỗ trợ: <strong> 15.000.000 VND</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 card-contest-margin">
                        <div class="card card-contest-choose">
                            <img src="../images/contest/header-option-contest.png" class="card-detail-contest-choose" alt="...">
                            <div class="card-block ">
                                <h4 class="card-title card-title-contest-choose">Lựa chọn 6</h4>
                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-card-checklist form-title"></i>
                                    Doanh số tối thiểu: <strong> 200.000.000 VND</strong>
                                </p>

                                <p class="card-subtitle-contest text-muted">
                                    <i class="bi bi-cash-coin form-title"></i>
                                    Mức hỗ trợ: <strong> 25.000.000 VND</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 button-right-row">
                    <button id="btnRegisterContest" onclick="onButtonSaveViewContestChooseClicked()" type="button" class="btn btn-purple-style">
                        Xác nhận
                    </button>
                    <button id="btnSaveAddRider" onclick="onButtonCloseViewContestChooseClicked()" type="button" class="btn btn-purple-style">
                        Thoát
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function onButtonSaveViewContestChooseClicked() {
        var modal = document.getElementById("popupViewContestChoose");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
        var modal = document.getElementById("popupViewContestNew");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
        notify("Đăng ký thành công", "success");
    }

    function onButtonCloseViewContestChooseClicked() {
        var modal = document.getElementById("popupViewContestChoose");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

</script>