<div class="row">
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
        <div class="card flex-fill w-100 form-control-ui">
            <div class="card-header  card-control-filter">
                <h5 class="card-title mb-0">Tìm kiếm</h5>               
            </div>
            <div class="card-body py-3">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .Label("Mã thi đua").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50).ShowClearButton(true))
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .Label("Tên thi đua").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(100).ShowClearButton(true))
                        </div>
                    </div>
                </div>
                <div class="row button-search-row">
                    <div class="col-md-12">
                        <button class="btn btn-purple-style" type="submit">
                            <i class="bi bi-trash"></i> Xóa điều kiện
                            <button class="btn btn-purple-style" type="submit"><i class="bi bi-search"></i> Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
