<div class="modal fade" id="popupForgotPassword" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-md" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-header">
                <h1 class="h4 mb-3 form-title"><strong>Quên mật khẩu</strong></h1>
                <p>Nhập số điện thoại hoặc email của bạn để tiến hành lấy lại mật khẩu</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .ElementAttr("class", "required-validation")
                                .Label("Số điện thoại hoặc email").Value("0972746277").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50).ShowClearButton(true))
                        </div>
                    </div>                
                </div>
            </div>
            <div class="modal-footer button-search-row">
                <button id="btnCloseForgotPassword" onclick="onButtonCloseForgotPasswordClicked()" type="button" class="btn btn-purple-style">Thoát</button>
                <button id="btnSaveForgotPassword" onclick="onButtonSaveForgotPasswordClicked()" type="button" class="btn btn-purple-style">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>

<script>

    function onButtonSaveForgotPasswordClicked() {
        var modal = document.getElementById("popupForgotPassword");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        //var _00019 = await GetMesssageAsync('00019', '@Url.Action("GetMesssageAsync", "Common", new { area = "" })');
        notify("Gừi mã OTP thành công", "success");
        var modal = document.getElementById("popupOTPForgotPassword");
        modal.classList.add("show", "in");
        modal.style.display = "block";
    }

    function onButtonCloseForgotPasswordClicked() {
        var modal = document.getElementById("popupForgotPassword");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

</script>