<div class="modal fade" id="popupChangePassword" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-xs" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-header">
                <h1 class="h4 mb-3 form-title"><strong>Thay đổi mật khẩu</strong></h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Mật khẩu hiện tại").LabelMode(EditorLabelMode.Floating).Mode(TextBoxMode.Password)
                                .MaxLength(50).ShowClearButton(true))
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Mật khẩu mới").LabelMode(EditorLabelMode.Floating).Mode(TextBoxMode.Password)
                                .MaxLength(50).ShowClearButton(true))
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox().ElementAttr("class", "required-validation")
                                .Label("Nhập lại mật khẩu mới").LabelMode(EditorLabelMode.Floating).Mode(TextBoxMode.Password)
                                .MaxLength(50).ShowClearButton(true))
                        </div>
                    </div>                    
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group" style="text-align:center">
                            <div class="recaptcha" id="g-recaptcha1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer button-search-row">
                <button id="btnCloseChangePassword" onclick="onButtonCloseChangePasswordClicked()" type="button" class="btn btn-purple-style">
                    <i class="bi bi-caret-left-fill"></i> Trở về
                </button>
                <button id="btnSaveChangePassword" onclick="onButtonSaveChangePasswordClicked()" type="button" class="btn btn-purple-style">
                    Lưu <i class="bi bi-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {

        $('.recaptcha').each(function () {
            grecaptcha.render(this.id, {
                'sitekey': '6LdVkwkUAAAAACeeETRX--v9Js0vWyjQOTIZxxeB',
                "theme": "light"
            });
        });

    }, 500);

    function onButtonSaveChangePasswordClicked() {
        var modal = document.getElementById("popupChangePassword");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        notify("Cập nhật dữ liệu thành công", "success");
    }

    function onButtonCloseChangePasswordClicked() {
        var modal = document.getElementById("popupChangePassword");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

</script>