
@{
    var sitemap = ViewBag.sitemap as IEnumerable<TreeMenuItem<SiteMapNode>>;
}

<style>
    .progress-vertical {
        position: relative;
        padding: 0 1rem 0 3.5rem;
        list-style: none;
    }

    .progress__item {
        position: relative;
        min-height: 50px;
        counter-increment: list;
        cursor: pointer;
    }

    .progress__item.last-item {
        min-height: 20px;
    }

        .progress__item:before {
            content: "";
            position: absolute;
            left: -1.65rem;
            top: 28px;
            height: 40%;
            width: 1px;
            border-left: 1px solid #725dcf;
        }

        .progress__item:after {
            content: counter(list);
            position: absolute;
            top: 0;
            left: -2.5rem;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background: transparent;
            color: #725dcf;
            font-weight: 400;
            font-size: 13px;
            line-height: 1.3rem;
            text-align: center;
            border: 1px solid #725dcf;
        }

    .progress__item--completed:after {
        content: "\2713";
        font-weight: 400;
        background: #725dcf;
        color: #fff;
    }

    .progress__item--active:after {
        background: #725dcf;
        color: #fff;
    }

    .progress-vertical li:last-child:before {
        border: none;
    }

    .progress__title {
        text-align: left;
    }
</style>

<div class="mobileservice">
    <div class="service-menu">
        @{
            if (sitemap != null)
            {
                <ul>
                    @foreach (var item in sitemap)
                    {
                        @await Html.PartialAsync("_menuitem", item)
                    }
                    @await Html.PartialAsync("_menuitemEx")
                </ul>

                // <ul>
                //     <li>
                //         <a href="/dashboard/general">
                //             <i class="glyphicon glyphicon-home main-color"></i>&nbsp;
                //             Trang chủ
                //         </a>
                //     </li>
                //     <li>
                //         <a class="collapsed" data-toggle="collapse" data-target="#serviceNavbar_1" aria-expanded="false">
                //             <i class="glyphicon glyphicon-user main-color"></i>&nbsp;
                //            cá nhân
                //             <i class="fa fa-caret-up main-color"></i>
                //         </a>
                //         <div class="collapse" id="serviceNavbar_1" aria-expanded="false" style="">
                //             <ul>
                //                 <li>
                //                     <a href="/account/personalinfo">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         Thông tin cá nhân
                //                     </a>
                //                 </li>
                //                 <li>
                //                     <a href="/account/scheduler">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         lịch biểu
                //                     </a>
                //                 </li>
                //             </ul>
                //         </div>
                //     </li>
                //     <li>
                //         <a class="collapsed" data-toggle="collapse" data-target="#serviceNavbar_2" aria-expanded="false">
                //             <i class="glyphicon glyphicon-signal main-color"></i>&nbsp;
                //             Thông tin kinh doanh
                //             <i class="fa fa-caret-up main-color"></i>
                //         </a>
                //         <div class="collapse" id="serviceNavbar_2" aria-expanded="false" style="">
                //             <ul>
                //                 <li>
                //                     <a class="collapsed" data-toggle="collapse" data-target="#serviceNavbar_21" aria-expanded="false">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         Nhân sự
                //                         <i class="fa fa-caret-up main-color"></i>
                //                     </a>
                //                     <div class="collapse" id="serviceNavbar_21" aria-expanded="false" style="">
                //                         <ul>
                //                             <li>
                //                                 <a href="/businessindicators/agent">
                //                                     <i class="fa fa-circle  main-color" aria-hidden="true"></i>&nbsp;
                //                                     danh sách TVTc
                //                                 </a>
                //                             </li>
                //                             <li>
                //                                 <a href="/businessindicators/candidate">
                //                                     <i class="fa fa-circle  main-color" aria-hidden="true"></i>&nbsp;
                //                                     Ứng viên chưa ra mã số
                //                                 </a>
                //                             </li>
                //                         </ul>
                //                     </div>
                //                 </li>
                //                 <li>
                //                     <a class="collapsed" data-toggle="collapse" data-target="#serviceNavbar_22" aria-expanded="false">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         báo cáo kinh doanh
                //                         <i class="fa fa-caret-up main-color"></i>
                //                     </a>
                //                     <div class="collapse" id="serviceNavbar_22" aria-expanded="false" style="">
                //                         <ul>
                //                             <li>
                //                                 <a href="/businessindicators/dailysalesreport/list">
                //                                     <i class="fa fa-circle  main-color" aria-hidden="true"></i>&nbsp;
                //                                     Kết quả kinh doanh ngày
                //                                 </a>
                //                             </li>
                //                             <li>
                //                                 <a href="/businessindicators/monthlysalesreport/list">
                //                                     <i class="fa fa-circle  main-color" aria-hidden="true"></i>&nbsp;
                //                                     Kết quả kinh doanh tháng
                //                                 </a>
                //                             </li>
                //                             <li>
                //                                 <a href="/businessindicators/ratemaintenancereport/list">
                //                                     <i class="fa fa-circle  main-color" aria-hidden="true"></i>&nbsp;
                //                                     Tỉ lệ duy trì hợp đồng
                //                                 </a>
                //                             </li>
                //                         </ul>
                //                     </div>
                //                 </li>
                //                 <li>
                //                     <a href="/functions/bonus">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         các khoản thưởng
                //                     </a>
                //                 </li>
                //                 <li>
                //                     <a href="/businessindicators/isinhouse">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         Thu nhập TVTc
                //                     </a>
                //                 </li>
                //                 <li>
                //                     <a href="/businessindicators/isPartner">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         Thu nhập Partner
                //                     </a>
                //                 </li>
                //             </ul>
                //         </div>
                //     </li>
                //     <li>
                //         <a class="collapsed" data-toggle="collapse" data-target="#serviceNavbar_3" aria-expanded="false">
                //             <i class="glyphicon glyphicon-th-large main-color"></i>&nbsp;
                //             dịch vụ khách hàng
                //             <i class="fa fa-caret-up main-color"></i>
                //         </a>
                //         <div class="collapse" id="serviceNavbar_3" aria-expanded="false" style="">
                //             <ul>
                //                 <li>
                //                     <a href="/functions/contractrecord/list">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                        Hồ sơ hợp đồng
                //                     </a>
                //                 </li>
                //                 <li>
                //                     <a href="/functions/claimreport/list">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         danh sách yêu cầu giải quyết quyền lợi bảo hiểm
                //                     </a>
                //                 </li>
                //                 <li>
                //                     <a href="/functions/premiumcollectionreport/list">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         Hợp đồng cần thu phí
                //                     </a>
                //                 </li>
                //                 <li>
                //                     <a href="/functions/customerbirthday/list">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         sinh nhật khách hàng
                //                     </a>
                //                 </li>
                //             </ul>
                //         </div>
                //     </li>
                //     <li>
                //         <a href="/functions/register">
                //             <i class="glyphicon glyphicon-star main-color"></i>&nbsp;
                //             chương trình thi đua
                //         </a>
                //     </li>
                //     <li>
                //         <a href="/functions/ranking">
                //             <i class="glyphicon glyphicon-star main-color"></i>&nbsp;
                //             Xếp hạng
                //         </a>
                //     </li>
                //     <li>
                //         <a href="/functions/newsandevent">
                //             <i class="glyphicon glyphicon-list-alt main-color"></i>&nbsp;
                //             Tin tức & sự kiện
                //         </a>
                //     </li>
                //     <li>
                //         <a class="collapsed" data-toggle="collapse" data-target="#serviceNavbar_4" aria-expanded="false">
                //             <i class="glyphicon glyphicon-th-large main-color"></i>&nbsp;
                //             Quản lý bài viết
                //             <i class="fa fa-caret-up main-color"></i>
                //         </a>
                //         <div class="collapse" id="serviceNavbar_4" aria-expanded="false" style="">
                //             <ul>
                //                 <li>
                //                     <a href="/functions/managementcontent/listcontest">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         danh sách bài viết thi đua
                //                     </a>
                //                 </li>
                //                 <li>
                //                     <a href="/functions/managementcontent/listNewEvent">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         danh sách bài viết tin tức
                //                     </a>
                //                 </li>
                //                 <li>
                //                     <a href="/functions/managementcontent/Upsertregister">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         Tạo bài viết thi đua
                //                     </a>
                //                 </li>
                //                 <li>
                //                     <a href="/functions/managementcontent/UpsertNewEvent">
                //                         <i class="glyphicon glyphicon-record main-color"></i>&nbsp;
                //                         Tạo bài viết tin tức
                //                     </a>
                //                 </li>
                //             </ul>
                //         </div>
                //     </li>
                //     <li>
                //         <a href="#">
                //             <i class="glyphicon glyphicon-folder-open main-color"></i>&nbsp;
                //             biểu mẫu & thông báo
                //         </a>
                //     </li>
                //      <li>
                //         <a href="/functions/faq">
                //             <i class="glyphicon glyphicon-question-sign main-color"></i>&nbsp;
                //             câu hỏi thường gặp
                //         </a>
                //     </li>
                //     <li>
                //         <a href="/functions/contact">
                //             <i class="glyphicon glyphicon-comment main-color"></i>&nbsp;
                //             liên hệ
                //         </a>
                //     </li>
                // </ul>
            }
        }
    </div>
</div> 